<%- include partials/header.ejs -%>
<h1>About</h1>
<p><%= aboutContent %></p>
<p>
  Here’s how this journaling idea works:
  <ul>

    <li>Get a journal that’s comfortable enough to carry with you wherever you go. (I use these.)</li>
    <li>As various things happen throughout your day, simply log them.</li>
    <li>You can jot stuff down, draw pictures, or record them as detailed notes—it’s totally up to you. Since this is something you’ll need to do daily, the important thing, is to keep the parameters loose enough that you’ll actually do it.</li>


  </ul>

</p>
<%- include partials/footer.ejs -%>
